/* Default (Mobile)*/

:root {
    --active-emph-color: #0f0;
    --active-emph-shadow-color: #050;
    --active-header-color: #aaa;
    --active-body-color: #fff;
    --active-line-color: #888;
    --active-text-color: #666;
}

body {
    background-color: var(--active-body-color);
    color: var(--active-text-color);
}

header {
    background-color: var(--active-header-color);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

h1 {
    margin: .5em 0 .5em 1em;
    font-size: 2em;
    color: var(--active-emph-color);
}

#modeToggle {
    margin: auto 1em auto auto;
    width: 2em;
}

#navList{
    display: none;
}

#profilePic {
    margin: 1em auto;
    align-self: center;
    width: 12em;
    height: 12em;
    background-image: url("assets/DannyKwolek.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid var(--active-emph-color);
}

#whoami {
    font-size: 3em;
    margin: 0 16px;
    text-align: center;
}

.infoText {
    font-size: 2em;
    margin: 0 16px 24px 16px;
    text-align: center;
}

.spacer {
    height: 64px;
    width: 65%;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, var(--active-body-color), var(--active-line-color), var(--active-body-color)) 1;
    margin: 0 auto 64px auto;
}
.colorEmph {
    color: var(--active-emph-color);
}

main {
    display: flex;
    flex-direction: column;
}

.projectPic {
    margin: 1em auto;
    align-self: center;
    width: 80%;
    border: 1px solid var(--active-emph-color);
    border-radius: 32px;
    box-shadow: 0px 0px 8px 8px var(--active-emph-shadow-color);
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.socialIcon {
    width: 15%;
    margin: 1em 5% 300px 5%;
}

/* Large Screens (Desktop)*/
@media (min-width: 1048px) {

}