/* Default (Mobile)*/

:root {
    --active-emph-color: #0f0;
    --active-emph-shadow-color: #050;
    --active-header-color: #aaa;
    --active-body-color: #fff;
    --active-line-color: #888;
    --active-text-color: #666;
}

* {
    transition: all 1s ease-out;
}

a {
    cursor: pointer;
}

body {
    background-color: var(--active-body-color);
    color: var(--active-text-color);
    min-height: 100vh;
}

#modeToggle {
    width: 10vw;
    max-width: 64px;
    position: fixed;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

#intro {
    margin: 16px auto;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

#profilePic {
    width: 30vw;
    min-width: 150px;
    height: 30vw;
    min-height: 150px;
    background-image: url("assets/DannyKwolek.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid var(--active-emph-color);
}

#whoami {
    margin-top: 10vh;
    font-size: 6vw;
    text-align: center;
}

.infoText {
    font-size: 6vw;
    margin: 0 16px 24px 16px;
    text-align: center;
}

.spacer {
    border-top: 2px solid transparent;
    border-image: -webkit-linear-gradient(to right, var(--active-body-color), var(--active-line-color), var(--active-body-color)) 1;
    border-image: linear-gradient(to right, var(--active-body-color), var(--active-line-color), var(--active-body-color)) 1;
    margin-top: 64px;
    padding-top: 64px;
}

.colorEmph {
    color: var(--active-emph-color);
}

main {
    display: flex;
    flex-direction: column;
}

#projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(3, 1fr);
}

#projects .infoText {
    grid-column: 1 / -1;
}

.projectPic {
    margin: 0 auto;
    align-self: center;
    width: 80vw;
    border: 1px solid var(--active-emph-color);
    border-radius: 5%;
    box-shadow: 0px 0px 5px 5px var(--active-emph-shadow-color);
}

#socials {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    margin-bottom: 30vh;
    text-align: center;
}

#socials .infoText {
    grid-column: 1 / -1;
}

#socials a {
    margin: auto;
}

.socialIcon {
    width: 15vw;
    margin: auto;
}

/* Large Screens (Desktop)*/
@media (min-width: 1048px) {
    #intro {
        flex-direction: row;
    }
    
    #whoami {
        margin: auto;
        margin-left: 10vw;
    }

    .spacer {
        margin-top: 30vh;
        padding-top: 30vh;
    }

    #projects {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;
    }

    .projectPic {
        width: 30vw;
    }

    .socialIcon {
        width: 10vw;
    }
}